---
import type { FormInput } from '~/types'; 
const { inputs, textarea, disclaimer, button = 'Contact us', description = '' } = Astro.props;

// Tipos válidos de HTMLInputTypeAttribute
const validInputTypes: Array<HTMLInputTypeAttribute> = ['text', 'email', 'tel', 'password', 'number', 'search', 'url', 'date'];
---
<form id="form-contact" novalidate>
  {inputs &&
    inputs.map(({ type = 'text', name, label = '', options = [] }: FormInput) =>
      name && (
        <div class="mb-6">
          {label && (
            <label for={name} class="block text-sm font-medium">
              {label}
            </label>
          )}
          {type === 'select' ? (
            <select
              name={name}
              id={name}
              class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
              required={['tipo', 'medida'].includes(name)}
            >
              {options.map(option => (
                <option value={option.value}>{option.label}</option>
              ))}
            </select>
          ) : (
            <div class="relative">
              <span class="icon-placeholder absolute left-3 top-1/2 transform -translate-y-1/2">
                <i class={`icon-${name}`}></i>
              </span>
              <input
                type={validInputTypes.includes(type) ? (type) : 'text'}
                name={name}
                id={name}
                class="py-3 px-10 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
                placeholder={`Enter your ${label.toLowerCase()}`}
                
              />
              <p class="text-red-500 hidden" id={`error-${name}`}>Este campo es obligatorio.</p>
            </div>
          )}
        </div>
      )
    )}
  {textarea && (
    <div class="mb-6">
      <label for={textarea.name} class="block text-sm font-medium">
        {textarea.label}
      </label>
      <textarea
        name={textarea.name}
        id={textarea.name}
        class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
        required={textarea.required}
        placeholder={textarea.label}
      ></textarea>
    </div>
  )}
  {disclaimer && (
    <div class="mb-6">
      <label>
        <input type="checkbox" name="privacy" id="privacy" required /> {disclaimer.label}
      </label>
    </div>
  )}
  <button type="submit" class="py-3 px-6 bg-blue-500 text-white rounded-lg w-full">
    {button}
  </button>
</form>
