---
import * as HeroIcons from '@heroicons/react/solid';      
import Button from '~/components/ui/Button.astro';
const { id, method = 'GET', action, inputs = [], disclaimer, button = 'Consulta precio' } = Astro.props;
---

<form id={id} method={method} action={action} class="space-y-6">
  {inputs.map(({ type = 'text', name, label, autocomplete = 'on', placeholder, options = [], required = false, pattern = '', icon }) => (
    <div class="mb-6">
      {label && (
        <label for={name} class="block text-sm font-medium text-gray-700 dark:text-gray-300">
          {label}
        </label>
      )}
      
      <div class="relative">
        {icon && (
          <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
            {icon === 'user' && <HeroIcons.UserIcon class="h-5 w-5 text-blue-500 dark:text-blue-300" />}
            {icon === 'email' && <HeroIcons.MailIcon class="h-5 w-5 text-blue-500 dark:text-blue-300" />}
            {icon === 'phone' && <HeroIcons.PhoneIcon class="h-5 w-5 text-blue-500 dark:text-blue-300" />}
            {icon === 'company' && <HeroIcons.OfficeBuildingIcon class="h-5 w-5 text-blue-500 dark:text-blue-300" />}
          </div>
        )}
        
        {type === 'select' ? (
          <select
            name={name}
            id={name}
            class="py-3 px-4 w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
            required={required}
          >
            {options.map(({ value, label }) => (
              <option value={value}>{label}</option>
            ))}
          </select>
        ) : (
          <input
            type={type}
            name={name}
            id={name}
            autocomplete={autocomplete}
            placeholder={placeholder}
            class={`py-3 px-${icon ? '10' : '4'} w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900`}
            required={required}
            pattern={pattern}
          />
        )}
      </div>
    </div>
  ))}

  {disclaimer && (
    <div class="flex items-start mt-3">
      <input
        id="disclaimer"
        name="disclaimer"
        type="checkbox"
        class="cursor-pointer mt-1 rounded border-gray-200 dark:border-gray-700"
        required={disclaimer.required}
      />
      <label for="disclaimer" class="ml-3 text-sm text-gray-600 dark:text-gray-400 cursor-pointer select-none">
        {disclaimer.label}
      </label>
    </div>
  )}
  
  {button && (
    <div class="mt-10">
      <Button variant="primary" type="submit">
        {button}
      </Button>
    </div>
  )}
</form>
